<div class="title">
  Регистрация провайдера: <span>Название и расположение</span>
</div>
<div class="progress_bar"></div>
<div class="page_head">Инвентарь</div>
<div class="base_wrap">
  <div class="base_left">
    <div class="provider-inventory-container">
      <div class="item" *ngFor="let item of this.providerData">
        <div class="item_head">
          <div class="item_title">{{item.provider_name}}</div>
          <div class="btn btn-default item_button"><span>Изменить</span></div>
        </div>
        <div class="item_data">
          <div class="item_data_row"><div class="left">1-местная байдарка</div><div class="right">10</div></div>
          <div class="item_data_row"><div class="left">1-местная байдарка</div><div class="right">10</div></div>
          <div class="item_data_row"><div class="left">1-местная байдарка</div><div class="right">10</div></div>
        </div>
      </div>
    </div>
  </div>
  <div class="base_right">
    <div class="card">
      <div class="card_icon"><img src="../../../../../assets/images/icons/bulb.svg" alt=""></div>
      <div class="card_text">
        <span>Как добавить инвентарь?</span><br>
        Здесь вы можете добавить инвентарь из 
        существующего списка активностей.
      </div>
    </div>
  </div>
</div>