<div style="height: 40px; width: 100%; background-color: lightgrey; text-align: center;">kirill</div>

<div class="info_block">
    <div class="info_item">
        <div class="info_header">Дата:</div>
        <div class="info_data">21.08.2021</div>
    </div>
    <div class="info_item">
        <div class="info_header">Время:</div>
        <div class="info_data">9:00 - 11:00</div>
    </div>
    <div class="info_item">
        <div class="info_header">Длительность:</div>
        <div class="info_data">1 час</div>
    </div>
    <div class="info_item">
        <div class="info_header">Инвентарь:</div>
        <div class="info_data">1 шт.</div>
    </div>
    <div class="info_item">
        <div class="info_header">Посадочных мест:</div>
        <div class="info_data">2</div>
    </div>
</div>

<div class="items_head">
    <div class="head_inventory">Инвентарь</div>
    <div class="head_type">Тип</div>
    <div class="head_amount">Количество</div>
    <div class="head_fare">Тариф</div>
    <div class="head_total">Сумма</div>
</div>
<div class="items_wrap">

    <div class="item">
        <div class="item_main">
            <div class="inventory">
                <div class="title_sm">Инвентарь</div>
                <div class="image">
                    <img src="assets/images/prototype/baydarka.jpg" alt="">
                </div>
                <div class="title_wrap">
                    <div class="title">Байдарка</div>
                    <div class="age">Минимальный возраст: 7 лет <img class="age_img" src="assets/images/icons/question.svg" alt="?"><div class="age_message">Какое-то сообщение</div></div>
                </div>
            </div>
            <div class="type">
                <div class="title_sm">Тип</div>
                1-местная
            </div>
            <div class="amount">
                <div class="title_sm">Количество</div>
                1
            </div>
            <div class="fare">
                <div class="title_sm">Тариф</div>
                Обычный
            </div>
            <div class="item_total">
                <div class="title_sm">Сумма</div>
                300 грн
            </div>
        </div>
        <div class="item_addons">
            <div class="addon_row">
                <div class="addon_no">Опции отсутствуют</div>
            </div>
        </div>
    </div>

    <div class="item nonreturn">
        <div class="item_main">
            <div class="inventory">
                <div class="title_sm">Инвентарь</div>
                <div class="image">
                    <img src="assets/images/prototype/baydarka.jpg" alt="">
                </div>
                <div class="title_wrap">
                    <div class="title">Байдарка</div>
                    <div class="age">Минимальный возраст: 7 лет <img class="age_img" src="assets/images/icons/question.svg" alt="?"><div class="age_message">Какое-то сообщение</div></div>
                </div>
            </div>
            <div class="type">
                <div class="title_sm">Тип</div>
                1-местная
            </div>
            <div class="amount">
                <div class="title_sm">Количество</div>
                1
            </div>
            <div class="fare">
                <div class="title_sm">Тариф</div>
                Обычный
            </div>
            <div class="item_total">
                <div class="title_sm">Сумма</div>
                300 грн
            </div>
        </div>
        <div class="item_addons">
            <div class="addon_row">
                <div class="addon_name"><input class="custom-checkbox" type="checkbox" name="" id=""><label for="">детское кресло</label></div>
                <div class="addon_price">(бесплатно)</div>
            </div>
            <div class="addon_row">
                <div class="addon_name"><input class="custom-checkbox" type="checkbox" name="" id=""><label for="">весла</label></div>
                <div class="addon_price">(бесплатно)</div>
            </div>
            <div class="addon_row">
                <div class="addon_name"><input class="custom-checkbox" type="checkbox" name="" id=""><label for="">жилет</label></div>
                <div class="addon_price">(бесплатно)</div>
            </div>
            <div class="addon_row">
                <div class="addon_name"><input class="custom-checkbox" type="checkbox" name="" id=""><label for="">мешок для документов</label></div>
                <div class="addon_price">50.00</div>
            </div>
            <div class="addon_row">
                <div class="addon_name"><input class="custom-checkbox" type="checkbox" name="" id=""><label for="">палатка</label></div>
                <div class="addon_price">300.00</div>
            </div>
            <div class="addon_row">
                <div class="addon_name"><input class="custom-checkbox" type="checkbox" name="" id=""><label for="">крем для загара</label></div>
                <div class="addon_price">100.00</div>
            </div>
        </div>
    </div>

    <div class="item nonreturn">
        <div class="item_main">
            <div class="inventory">
                <div class="title_sm">Инвентарь</div>
                <div class="image">
                    <img src="assets/images/prototype/baydarka.jpg" alt="">
                </div>
                <div class="title_wrap">
                    <div class="title">Байдарка</div>
                    <div class="age">Минимальный возраст: 7 лет <img class="age_img" src="assets/images/icons/question.svg" alt="?"><div class="age_message">Какое-то сообщение</div></div>
                </div>
            </div>
            <div class="type">
                <div class="title_sm">Тип</div>
                1-местная
            </div>
            <div class="amount">
                <div class="title_sm">Количество</div>
                1
            </div>
            <div class="fare">
                <div class="title_sm">Тариф</div>
                Обычный
            </div>
            <div class="item_total">
                <div class="title_sm">Сумма</div>
                300 грн
            </div>
        </div>
        <div class="item_addons">
            <div class="addon_row">
                <div class="addon_name"><input class="custom-checkbox" type="checkbox" name="" id=""><label for="">детское кресло</label></div>
                <div class="addon_price">(бесплатно)</div>
            </div>
            <div class="addon_row">
                <div class="addon_name"><input class="custom-checkbox" type="checkbox" name="" id=""><label for="">весла</label></div>
                <div class="addon_price">(бесплатно)</div>
            </div>
            <div class="addon_row">
                <div class="addon_name"><input class="custom-checkbox" type="checkbox" name="" id=""><label for="">жилет</label></div>
                <div class="addon_price">(бесплатно)</div>
            </div>
            <div class="addon_row">
                <div class="addon_name"><input class="custom-checkbox" type="checkbox" name="" id=""><label for="">мешок для документов</label></div>
                <div class="addon_price">50.00</div>
            </div>
            <div class="addon_row">
                <div class="addon_name"><input class="custom-checkbox" type="checkbox" name="" id=""><label for="">палатка</label></div>
                <div class="addon_price">300.00</div>
            </div>
            <div class="addon_row">
                <div class="addon_name"><input class="custom-checkbox" type="checkbox" name="" id=""><label for="">крем для загара</label></div>
                <div class="addon_price">100.00</div>
            </div>
        </div>
    </div>

    <div class="item">
        <div class="item_main">
            <div class="inventory">
                <div class="title_sm">Инвентарь</div>
                <div class="image">
                    <img src="assets/images/prototype/baydarka.jpg" alt="">
                </div>
                <div class="title_wrap">
                    <div class="title">Байдарка</div>
                    <div class="age">Минимальный возраст: 7 лет <img class="age_img" src="assets/images/icons/question.svg" alt="?"><div class="age_message">Какое-то сообщение</div></div>
                </div>
            </div>
            <div class="type">
                <div class="title_sm">Тип</div>
                1-местная
            </div>
            <div class="amount">
                <div class="title_sm">Количество</div>
                1
            </div>
            <div class="fare">
                <div class="title_sm">Тариф</div>
                Обычный
            </div>
            <div class="item_total">
                <div class="title_sm">Сумма</div>
                300 грн
            </div>
        </div>
        <div class="item_addons">
            <div class="addon_row">
                <div class="addon_no">Опции отсутствуют</div>
            </div>
        </div>
    </div>

</div>

<div class="total_wrap">
    <div class="total">
        <div class="total_title">ИТОГО:</div>
        <div class="total_price">1035 грн</div>
    </div>
</div>
