@import "../../../../../styles/grid.scss";
@import "../../../../../variables.scss";

.info_block {
    padding: 20px 50px;
    margin: 44px 32px 0 38px;
    box-shadow: $box-shadow-1;
    background: $background-color-1;
    border: 0.5px solid #dddddd;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    @media(max-width: $sm-max) {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 15px 0px;
        padding: 20px 16px;
    }
}
.info_item {
    margin: 0 4px;
}
.info_header {
    display: inline-block;
    margin: 0 8px 0 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.01em;
    color: $text-color-1;
}
.info_data {
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.01em;
    color: $heading-color;
}




















.items_head {
    display: flex;
    padding: 0 20px 10px 38px;
    margin: 30px 0 0 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: $text-color-1;
    .head_inventory {
        flex: 0 0 40%;
        max-width: 40%;
        @media(max-width: $md-max) {
            flex: 0 0 20%;
            max-width: 20%;
        }
    }
    .head_type {
        flex: 0 0 15%;
        max-width: 15%;
        @media(max-width: $md-max) {
            flex: 0 0 20%;
            max-width: 20%;
        }
    }
    .head_amount {
        flex: 0 0 15%;
        max-width: 15%;
        @media(max-width: $md-max) {
            flex: 0 0 20%;
            max-width: 20%;
        }
    }
    .head_fare {
        flex: 0 0 15%;
        max-width: 15%;
        @media(max-width: $md-max) {
            flex: 0 0 20%;
            max-width: 20%;
        }
    }
    .head_total {
        flex: 0 0 15%;
        max-width: 15%;
        @media(max-width: $md-max) {
            flex: 0 0 20%;
            max-width: 20%;
        }
    }
    @media(max-width: $md-max) {
        display: none;
    }
}

.items_wrap {
    margin: 0 20px 0 38px;
    border-top: 0.5px solid $border-color-1;
    border-bottom: 0.5px solid $border-color-1;
    padding: 5px 0;
    @media(max-width: $md-max) {
        margin-top: 20px;
    }
}
.item {
    padding: 15px 20px 15px 0;
    min-height: 150px;
    border-bottom: 0.2px solid $border-color-1;
    &:last-of-type {
        border-bottom: none;
    }
}
.title_sm {
    display: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: $text-color-1;
    @media(max-width: $md-max) {
        display: block;
        margin: 0 0 20px 0;
    }
}
.nonreturn {
    background: rgba(42, 191, 249, 0.1);
}
.inventory {
    flex: 0 0 40%;
    max-width: 40%;
    display: flex;
    align-items: center;
    max-height: 120px;
    @media(max-width: $md-max) {
        flex-wrap: wrap;
        flex: 0 0 100%;
        max-width: 100%;
        max-height: unset;
        align-items: flex-start;
        margin: 0 0 0 10px;
        flex-direction: column;
    }
}
.image {
    height: 120px;
    margin: 0 16px 0 0;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    @media(max-width: $md-max) {
        height: 80px;
    }
}
.title_wrap {

}
.title {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #17143B;
    @media(max-width: $md-max) {
        margin: 12px 0 6px 0;
    }
}
.age {
    display: flex;
    align-items: center;
    position: relative;
    img {
        cursor: pointer;
    }
}





.type {
    flex: 0 0 15%;
    max-width: 15%;
    display: flex;
    align-items: center;
    max-height: 120px;
    font-size: 16px;
    line-height: 24px;
    color: $heading-color;
    @media(max-width: $md-max) {
        flex-wrap: wrap;
        flex: 0 0 100%;
        max-width: 100%;
        margin: 80px 0 0 0;
        align-items: flex-start;
        flex-direction: column;
    }
}










.amount {
    flex: 0 0 15%;
    max-width: 15%;
    display: flex;
    align-items: center;
    max-height: 120px;
    font-size: 24px;
    line-height: 28px;
    color: $heading-color;
    @media(max-width: $md-max) {
        flex-wrap: wrap;
        flex: 0 0 100%;
        max-width: 100%;
        margin: 80px 0 0 0;
        align-items: flex-start;
        flex-direction: column;
    }
}


.fare {
    flex: 0 0 15%;
    max-width: 15%;
    display: flex;
    align-items: center;
    max-height: 120px;
    font-size: 14px;
    line-height: 24px;
    color: $heading-color;
    @media(max-width: $md-max) {
        flex-wrap: wrap;
        flex: 0 0 100%;
        max-width: 100%;
        margin: 40px 0 40px 10px;
        align-items: flex-start;
        flex-direction: column;
    }
}
.item_total {
    flex: 0 0 15%;
    max-width: 15%;
    display: flex;
    align-items: center;
    max-height: 120px;
    font-size: 16px;
    line-height: 24px;
    color: $heading-color;
    @media(max-width: $md-max) {
        flex-wrap: wrap;
        flex: 0 0 100%;
        max-width: 100%;
        margin: 40px 0;
        align-items: flex-start;
        flex-direction: column;
    }
}


.total_wrap {
    padding: 50px 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 270px;
    width: 100%;
    margin: 50px 0 0 0;
    padding: 0 20px;
}
.total_title {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: $theme-color-1;
}
.total_price {
    font-weight: 500;
    font-size: 24px;
    line-height: 20px;
    color: $heading-color;
}

.item_main {
    display: flex;
    @media(max-width: $md-max) {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 0px 0px;
    }
}
.item_addons {
    padding: 0 70px 0 140px;
    @media(max-width: $sm-max) {
        padding: 10px;
    }
}
.addon_row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.addon_name {
    label {
        font-weight: 500;
        font-size: 12px;
        line-height: 22px;
        color: $text-color-1;
        display: flex;
        align-items: center;
        input {
            width: 20px;
            height: 20px;
            margin: 0 8px 0 0;
        }
    }
}
.addon_price {
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
    color: $text-color-1;
}
.addon_no {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: $theme-color-1;
}

//  ------  ------  custom-checkbox  ------  ------  //
.custom-checkbox {
    position: absolute;
    z-index: 1;
    opacity: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  /* для элемента label, связанного с .custom-checkbox */
  .custom-checkbox + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    margin: 0 0 5px 0;
  }

  /* создание в label псевдоэлемента before со следующими стилями */
  .custom-checkbox + label::before {
    content: '';
    display: inline-block;
    //width: 1em;
    width: 20px;
    //height: 1em;
    height: 20px;
    flex-shrink: 0;
    flex-grow: 0;
    //border: 1px solid rgba(134, 133, 138, 1);
    border: 1px solid rgb(180, 180, 184);
    border-radius: 2px;
    margin-right: 8px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70% 70%;
  }

  /* стили при наведении курсора на checkbox */
  .custom-checkbox:not(:disabled):not(:checked) + label:hover::before {
    border-color: rgb(180, 180, 184);
  }

  /* стили для активного чекбокса (при нажатии на него) */
  .custom-checkbox:not(:disabled):active + label::before {
    background-color: rgb(79, 90, 254);
    border-color: rgb(180, 180, 184);
  }

  /* стили для чекбокса, находящегося в фокусе */
  .custom-checkbox:focus + label::before {
  }

  /* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
  .custom-checkbox:focus:not(:checked) + label::before {
    border-color: rgb(180, 180, 184);
  }

  /* стили для чекбокса, находящегося в состоянии checked */
  .custom-checkbox:checked + label::before {
    border-color: rgb(79, 90, 254);
    background-color: rgb(79, 90, 254);
    //background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
    background-image: url("../../../../../assets/images/icons/checkbox.svg");
    //background-image: url("../../../../../assets/images/icons/check-mark.png");
  }

  /* стили для чекбокса, находящегося в состоянии disabled */
  .custom-checkbox:disabled + label::before {
    background-color: rgb(79, 90, 254);
  }

.age_message {
    display: none;
    position: absolute;
    top: 35px;
    right: 0;
    padding: 15px;
    background-color: $background-color-1;
    box-shadow: $box-shadow-1;
}
.age_img:hover + .age_message,
.age_message:hover {
    display: block;
}
