@import "../../../../styles/grid.scss";
@import "../../../../variables.scss";

.title_wrap {
    padding: 32px 38px ;
    display: flex;
    flex-direction: column;
}
.title {
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.01em;
    color: $heading-color;
    margin: 0 0 30px 0;
}
.provider {
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.01em;
    color: $heading-color;
}
.activity {
    color: $theme-color-1;
}