<div class="title">Платежные данные</div>
<div class="description">Безопасно добавьте или удалите способы оплаты бронирований</div>
<div class="main">
    <div class="main_top">
        <div class="top_title">Платежная карта</div>
        <div class="top_icons">
            <img src="assets/images/icons/debit-card-icons/mastercard.svg" alt="">
            <img src="assets/images/icons/debit-card-icons/visa.svg" alt="">
        </div>
    </div>
    <form class="form">
        <div class="item">
            <label for="">Имя держателя карты</label>
            <input type="text" value="Кирилл Сурело">
        </div>
        <div class="item">
            <label for="">Номер карты</label>
            <input type="text" value="5467 2834 8544 9914" maxlength="19">
        </div>
        <div class="item">
            <div class="left">
                <label for="">Срок действия</label>
                <input type="text" value="01\22" maxlength="5">
            </div>
            <div class="right">
                <label for="">CVC-код</label>
                <input type="text" value="348" maxlength="3">
            </div>
        </div>
        <button class="btn btn-default save_butt"><span>Сохранить</span></button>
    </form>
    <div class="cancel">Отмена</div>
</div>
