@import "variables";

.copyright {
  width: 100%;

  background-color: $background-color-2;
  p {
    text-align: right;
    width: 100%;

    font-size: 14px;
    line-height: 16px;
    color: $text-color-1;


    margin-bottom: 17px;
    padding-bottom: 17px;
  }
}
