<div class="reg-type_heading">
  Выберите тип провайдера активностей, который хотите зарегистрировать.
</div>
<div class="reg-type_columns">

  <div class="reg-type_column">
    <h3>Объект отдыха</h3>
    <div class="reg-type_content">
      <ul class="styled-list">
        <div class="reg-type_list-heading">Сохраняйте:</div>
        <li>Избранный список активностей</li>
        <li>Избранный список маршрутов</li>
        <li>Список забронированных туров</li>
        <li>Список забронированного инвентаря</li>
      </ul>
      <ul class="styled-list">
        <div class="reg-type_list-heading">Создавайте:</div>
        <li>Маршруты</li>
        <li>Туры</li>
      </ul>
    </div>
    <a class="btn btn-default">
      <span>Продолжить</span>
    </a>
  </div>

  <div class="reg-type_column">
    <h3>Центр проката</h3>
    <div class="reg-type_content">
      <ul class="styled-list">
        <div class="reg-type_list-heading">Сохраняйте:</div>
        <li>Избранный список активностей</li>
        <li>Избранный список маршрутов</li>
        <li>Список забронированных туров</li>
        <li>Список забронированного инвентаря</li>
      </ul>
      <ul class="styled-list">
        <div class="reg-type_list-heading">Создавайте:</div>
        <li>Маршруты</li>
        <li>Туры</li>
        <li>Список предоставляемого инвентаря</li>
      </ul>
    </div>
    <a class="btn btn-default">
      <span>Продолжить</span>
    </a>
  </div>
</div>
