<div class="chat_wrap">
<div class="chat_button" [ngClass]="isActive ? 'chat_button_show' : 'chat_button_hide'">
  <img src="assets/images/icons/{{imageButton}}.svg" (click)="chatActive()" alt="chat">
</div>
<div class="chat_window" [ngClass]="isActive ? 'chat_show' : 'chat_hide'">
  <form [formGroup]="chatForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <!-- Два типа сообщений
      user-message - пользователь
      provider-message - провайдер
    -->
    <div class="chat">
      <div *ngFor="let message of messages" [ngClass]="message.isUser ? 'user-message' : 'provider-message'">
        <div class="chat_image">
          <img src="{{message.image}}" alt="">
        </div>
        <div class="chat_text">
          {{message.text}}
        </div>
      </div>
    </div>

    <div class="bottom_control">
      <div class="bottom_control_left">
        <div class="reg_control-group">
          <textarea
            type="text"
            name="userMessage"
            id="userMessage"
            formControlName="userMessage"
            placeholder="Написать..."
            [(ngModel)]="chatText"
            (keyup)="onKeyUp($event)"
            (keyup.enter)=onSubmit() ></textarea>
        </div>

        <!-- кнопка отправки. Показывается, если 1 символ или больше -->
          <img [ngClass]="isAnySymbol ? 'hide-send-button' : 'show-send-button'"
          (click)=onSubmit() src="assets/images/icons/send.svg"
          class="send_button fixed_width" alt="send">
      </div>



      <div class="bottom_control_right">

        <!-- При клике на блок открывается блок в котором будут смайлы -->
        <img (click)=showSmiles() class="fixed_width" src="assets/images/icons/smile.svg" alt="smile">

        <div class="smiles-wrapper" [ngClass]="isActiveSmile ? 'show-smiles' : 'hidden-smiles'">
          <span>:)</span>
          <span>:(</span>
          <span>;)</span>
          <span>)0_o</span>
        </div>

        <!-- Кнопка прикрепить файлы -->
        <img (click)=attachFile() class="fixed_width" src="assets/images/icons/file.svg" alt="file">
      </div>
  </div>

  </form>
</div>
<div class="chat_background" [ngClass]="isActive ? 'chat_background_show' : 'chat_background_hide'"></div>
</div>
