<div class="title">
    Регистрация провайдера: <span>Название и расположение</span>
</div>
<div class="progress_bar"></div>
<div class="page_head">Наличие инвентаря</div>
<div class="form">
    <div class="form_title">С какой даты Вы готовы предоставить инвентарь?</div>
    <div class="form_radio">
        <div class="form_item"><input type="radio" name="radio" id=""><label for="">Как можно скорее</label></div>
        <div class="form_item"><input type="radio" name="radio" id="" checked><label for="">С определенной даты</label></div>
    </div>
    <div class="form_date">
        <input type="text" name="" id="">
    </div>
</div>