@import "../../../../../styles/grid.scss";
@import "../../../../../variables.scss";
.title {
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.01em;
    color: $heading-color;
    margin: 32px 32px 20px 32px;
    span {
        color: $theme-color-1;
        font-size: 28px;
        line-height: 33px;
    }
}
.progress_bar {
    height: 70px;
    background-color: $text-color-1;
    margin: 0 32px 50px 32px;
}
.page_head {
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.01em;
    padding: 0 32px;
    margin: 0 0 50px 0;
}
.form {
    padding: 0 32px;
}
.form_title {
    margin: 0 0 20px 0;
}
.form_item {
    margin: 0 0 20px 0;
    @include input_checkbox_radio;
}
.form_date {
    margin: 50px 0 0 0;
    input {
    outline: none;
    border: none;
    border-bottom: 1px solid $border-color-1;
    width: 440px;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.01em;
    color: $heading-color;
    }
}