<div class="page_head">
    <div class="head_main">
        <div class="title">Бизнес возможности</div>
        <div class="description">Здесь должен быть текст по аналогии с другими пунктами аккаунта.</div>
    </div>
    <div class="head_button_wrap"><button class="btn btn-default add_button"><span>Добавить провайдера</span></button></div>
</div>
<div class="main">
    <div class="item">
        <div class="item_base">
            <div class="base_head">Центр приключений “Кон-Тики”</div>
            <div class="base_addition">г. Запорожье, ул. Глиссерная, 26а</div>
        </div>
        <div class="item_buttons">
            <div class="item_butt">Перейти</div>
        </div>
    </div>
</div>
