@import "../../../../../styles/grid.scss";
@import "../../../../../variables.scss";

.info_block {
    padding: 20px 50px;
    margin: 44px 32px 0 38px;
    box-shadow: $box-shadow-1;
    background: $background-color-1;
    border: 0.5px solid #dddddd;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    @media(max-width: $sm-max) {
        display: grid; 
        grid-auto-columns: 1fr; 
        grid-template-columns: 1fr 1fr; 
        gap: 15px 0px; 
        padding: 20px 16px;
    }
}
.info_item {
    margin: 0 4px;
}
.info_header {
    display: inline-block;
    margin: 0 8px 0 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.01em;
    color: $text-color-1;
}
.info_data {
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.01em;
    color: $heading-color;
}




















.items_head {
    display: flex;
    padding: 0 20px 10px 38px;
    margin: 30px 0 0 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: $text-color-1;
    .head_inventory {
        flex: 0 0 40%;
        max-width: 40%;
        @media(max-width: $md-max) {
            flex: 0 0 20%;
            max-width: 20%;
        }
    }
    .head_type {
        flex: 0 0 15%;
        max-width: 15%;
        @media(max-width: $md-max) {
            flex: 0 0 20%;
            max-width: 20%;
        }
    }
    .head_amount {
        flex: 0 0 15%;
        max-width: 15%;
        @media(max-width: $md-max) {
            flex: 0 0 20%;
            max-width: 20%;
        }
    }
    .head_fare {
        flex: 0 0 15%;
        max-width: 15%;
        @media(max-width: $md-max) {
            flex: 0 0 20%;
            max-width: 20%;
        }
    }
    .head_total {
        flex: 0 0 15%;
        max-width: 15%;
        @media(max-width: $md-max) {
            flex: 0 0 20%;
            max-width: 20%;
        }
    }
    @media(max-width: $md-max) {
        display: none;
    }
}

.items_wrap {
    margin: 0 20px 0 38px;
    border-top: 0.5px solid $border-color-1;
    border-bottom: 0.5px solid $border-color-1;
    padding: 5px 0;
    @media(max-width: $md-max) {
        margin-top: 20px;
    }
}
.item {
    padding: 15px 20px 15px 0;
    min-height: 150px;
    border-bottom: 0.2px solid $border-color-1;
    &:last-of-type {
        border-bottom: none;
    }
}
.title_sm {
    display: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: $text-color-1;
    @media(max-width: $md-max) {
        display: block;
        margin: 0 0 20px 0;
    }
}
.nonreturn {
    background: rgba(42, 191, 249, 0.1);
}
.inventory {
    flex: 0 0 40%;
    max-width: 40%;
    display: flex;
    align-items: center;
    max-height: 120px;
    @media(max-width: $md-max) {
        flex-wrap: wrap;
        flex: 0 0 100%;
        max-width: 100%;
        max-height: unset;
        align-items: flex-start;
        margin: 0 0 0 10px;
        flex-direction: column;
    }
}
.image {
    height: 120px;
    margin: 0 16px 0 0;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    @media(max-width: $md-max) {
        height: 80px;
    }
}
.title_wrap {
    
}
.title {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #17143B;
    @media(max-width: $md-max) {
        margin: 12px 0 6px 0;
    }
}
.age {
    display: flex;
    align-items: center;
    position: relative;
    img {
        cursor: pointer;
    }
}





.type {
    flex: 0 0 15%;
    max-width: 15%;
    display: flex;
    align-items: center;
    max-height: 120px;
    font-size: 16px;
    line-height: 24px;
    color: $heading-color;
    @media(max-width: $md-max) {
        flex-wrap: wrap;
        flex: 0 0 100%;
        max-width: 100%;
        margin: 80px 0 0 0;
        align-items: flex-start;
        flex-direction: column;
    }
}










.amount {
    flex: 0 0 15%;
    max-width: 15%;
    display: flex;
    align-items: center;
    max-height: 120px;
    font-size: 24px;
    line-height: 28px;
    color: $heading-color;
    @media(max-width: $md-max) {
        flex-wrap: wrap;
        flex: 0 0 100%;
        max-width: 100%;
        margin: 80px 0 0 0;
        align-items: flex-start;
        flex-direction: column;
    }
}


.fare {
    flex: 0 0 15%;
    max-width: 15%;
    display: flex;
    align-items: center;
    max-height: 120px;
    font-size: 14px;
    line-height: 24px;
    color: $heading-color;
    @media(max-width: $md-max) {
        flex-wrap: wrap;
        flex: 0 0 100%;
        max-width: 100%;
        margin: 40px 0 40px 10px;
        align-items: flex-start;
        flex-direction: column;
    }
}
.item_total {
    flex: 0 0 15%;
    max-width: 15%;
    display: flex;
    align-items: center;
    max-height: 120px;
    font-size: 16px;
    line-height: 24px;
    color: $heading-color;
    @media(max-width: $md-max) {
        flex-wrap: wrap;
        flex: 0 0 100%;
        max-width: 100%;
        margin: 40px 0;
        align-items: flex-start;
        flex-direction: column;
    }
}


.total_wrap {
    padding: 50px 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 270px;
    width: 100%;
    margin: 50px 0 0 0;
    padding: 0 20px;
}
.total_title {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: $theme-color-1;
}
.total_price {
    font-weight: 500;
    font-size: 24px;
    line-height: 20px;
    color: $heading-color;
}

.item_main {
    display: flex;
    @media(max-width: $md-max) {
        display: grid; 
        grid-auto-columns: 1fr; 
        grid-template-columns: 1fr 1fr 1fr; 
        gap: 0px 0px; 
    }
}
.item_addons {
    padding: 0 70px 0 140px;
    @media(max-width: $sm-max) {
        padding: 10px;
    }
}
.addon_row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.addon_name,
.addon_price {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: $heading-color;
}




.payment {
    max-width: 630px;
    width: 100%;
    margin: 50px auto;
    padding: 40px 96px 50px 96px;

    background: #FFFFFF;
    border: 0.5px solid #C4C4C4;
    box-sizing: border-box;
    box-shadow: 0px 0px 18px rgba(78, 90, 254, 0.16);
    border-radius: 4px;
    @media(max-width: $sm-max) {
        padding: 40px 32px 50px 32px;
        max-width: 360px;
    }
}
.card_number {
    display: flex;
    flex-direction: column;
    padding: 0 5px;
    margin: 0 0 50px 0;
    label {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.01em;
        color: $text-color-1;
    }
    input {
        background: transparent;
        border: none;
        border-bottom: 0.5px solid $text-color-1;
        outline: none;
        height: 25px;
        margin: 4px 0 0 0;
        font-weight: 700;
        font-size: 28px;
        line-height: 21px;
        letter-spacing: 10px;
        color: $theme-color-1;
    }
}
.card_data {
    display: flex;
    margin: 0 0 50px 0;
}
.card_date {
    display: flex;
    flex-direction: column;
    padding: 0 5px;
    width: 50%;
    label {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.01em;
        color: $text-color-1;
    }
    input {
        background: transparent;
        border: none;
        border-bottom: 0.5px solid $text-color-1;
        outline: none;
        height: 25px;
        margin: 4px 0 0 0;
        font-weight: 600;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0.01em;
        color: $heading-color;
        &::placeholder {
            font-weight: 600;
            font-size: 18px;
            line-height: 21px;
            letter-spacing: 0.01em;
            color: $heading-color;
            opacity: 0.4;
        }
    }
}
.card_cvv {
    display: flex;
    flex-direction: column;
    padding: 0 5px;
    width: 50%;
    label {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.01em;
        color: $text-color-1;
    }
    input {
        background: transparent;
        border: none;
        border-bottom: 0.5px solid $text-color-1;
        outline: none;
        height: 25px;
        margin: 4px 0 0 0;
        font-weight: 700;
        font-size: 28px;
        line-height: 21px;
        letter-spacing: 10px;
        color: $theme-color-1;
    }
}
.card_user_agreement {
    padding: 0 5px;
    margin: 0 0 50px 0;
    font-size: 14px;
    line-height: 24px;
    color: $text-color-1;
    span {
        color: $theme-color-1;
        text-decoration: underline;
        cursor: pointer;
    }
}
.payment_buttons {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 0px 0px;
    @media(max-width: $sm-max) {
        display: flex;
        flex-direction: column;
    }
}
.butt_center {
    display: flex;
    align-self: center;
    justify-content: center;
}
.butt_right {
    display: flex;
    align-self: center;
    justify-content: flex-end;
}
.pay_button {
    width: 150px;
}
.cancel_button {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: $theme-color-1;
    cursor: pointer;
}
.age_message {
    display: none;
    position: absolute;
    top: 35px;
    right: 0;
    padding: 15px;
    background-color: $background-color-1;
    box-shadow: $box-shadow-1;
}
.age_img:hover + .age_message,
.age_message:hover {
    display: block;
}