<div class="card_page-container">
  Карта компонента
<!--  <app-card componentType="card-pages"></app-card>-->
<!--  <app-rating-box class="rating25"></app-rating-box>-->
<!--  <app-rating-box class="rrr"></app-rating-box>-->
  <app-card class="active lll"></app-card>
  <div class="card-page-wrapper">
    <div class="card-buttons-wrapper">
      <a href="#" class="btn btn-card">
        <span>1-местная байдарка</span>
      </a>
      <a href="#" class="btn btn-card">
        <span>2-местная байдарка</span>
      </a>
      <a href="#" class="btn btn-card">
        <span>3-местная байдарка</span>
      </a>
      <a href="#" class="btn btn-card">
        <span>4-местная байдарка</span>
      </a>
<!--      <a href="#">-->
        <img src="../../../../assets/images/icons/Vector-right-card.svg" alt="">
<!--      </a>-->
    </div>
    <div>
      Удобства
      <div>Кофе на территории клуба</div>
      <div>Парковка близко к воде</div>
      <div>Место для ночлега</div>
      <div>Персонал говорит на английском языке</div>
    </div>
    <div>
      <p>
        Запорожский край и остров Хортица — один из самых богатых на речные эмоции. Бери каяк, SUP или велосипед и вперёд к приключениям. Мы хотим, чтобы ты сам ощутил это на себе!
        Наши каяки (они же байдарки) — широкие и устойчивые. В них можно плавать с животными, детьми, бабушками и дедушками, камерами и мобильными телефонами. Всё будет в целостности и сохранности.
        Каждые выходные наши инструкторы выходят на воду и показывают лучшие речные места нашего края. Присоединяйтесь!
        Хочешь покорить Днепр стоя? Любишь вёсла и не боишься воды? Тогда жёсткие и надувные SUP доски лучших мир
        овых производителей ждут тебя!
      </p>
    </div>
    <div>
      <div>Тарифы</div>
      <div><span>Длительность</span><span>Цена</span></div>
      <div><span>1 час</span><span>300 грн</span></div>
      <div><span>3 часа</span><span>400 грн</span></div>
      <div><span>сутки</span><span>700 грн</span></div>
    </div>
    <div>
      <p>Удобства</p>
      <div><span>бесплатный wi-fi</span></div>
      <div><span>кафе</span></div>
      <div><span>раздевалка</span></div>
      <div><span>туалет</span></div>
      <div>
        <img class="facilities" src="../../../../assets/images/icons/icons-cardPage/facilities/shower.svg" alt="">
<!--        <img class="facilities" src="../../../../assets/images/icons/icons-cardPage/car.svg" alt="">-->
        <span>душ</span>
      </div>
      <div><span>велопарковка</span></div>
    </div>
    <div>
      <p>Время работы</p>
      <div><span>бесплатный wi-fi</span></div>
      <div><span>кафе</span></div>
      <div><span>раздевалка</span></div>
      <div><span>туалет</span></div>
      <div><span>душ</span></div>
      <div><span>велопарковка</span></div>
    </div>
    <div>
      <p>По мнению гостей</p>
      <div>Чисто</div>
      <div>Приветливый персонал</div>
      <div>Красивый вид</div>
    </div>
    <div>
      <p>Другие активности</p>
      <a href="#">Аренда снаряжения</a>
      <a href="#">Пешие турыя</a>
      <a href="#">Картинг</a>
      <a href="#">Пейнтбол</a>
      <a href="#">Прыжки с парашютом</a>
      <a href="#">Рафтинг</a>
    </div>
  </div>
</div>
