<div class="title">
    Регистрация провайдера: <span>Название и расположение</span>
</div>
<div class="progress_bar"></div>
<div class="page_head">Тарифный план</div>
<div class="page_description">Настроить изменение цены на определённые дни вы сможете после добавления своего объекта отдыха.</div>
<div class="buttons_wrap">
    <div class="butt btn button-gradient"><span>6 часов</span></div>
    <div class="butt btn button-gradient"><span>12 часов</span></div>
    <div class="butt btn button-gradient active_butt"><span>1 день</span></div>
    <div class="butt btn button-gradient"><span>2 дня</span></div>
    <div class="butt btn button-gradient"><span>5 дней</span></div>
</div>