<div class="breadcrumbs">
  <div class="breadcrumbs_current">
    Главная
  </div>
  <div class="breadcrumbs_link">
    <img src="../../../../assets/images/icons/arrow-slider-right.svg" alt=">">
    <a href="#">
      Результаты поиска
    </a>
  </div>
  <div class="breadcrumbs_link">
    <img src="../../../../assets/images/icons/arrow-slider-right.svg" alt=">">
    <a href="#">
      Центр приключений “Кон-Тики”
    </a>
  </div>
  <div class="breadcrumbs_link">
    <img src="../../../../assets/images/icons/arrow-slider-right.svg" alt=">">
    <a href="#">
      Гребля на байдарке
    </a>
  </div>
</div>
