<div style="height: 40px; width: 100%; background-color: lightgrey; text-align: center;">kirill</div>

<div class="info_wrap">
    <div class="title">Интвентарь успешно забронирован!</div>
    <div class="booking_number">Ваш номер бронирования: <span>No1_23456789</span></div>
    <div class="description">Чтобы получить инвентарь покажите провайдеру активности проверочный QR-код. Вы можете его найти на странице вашего бронирования</div>
    <div class="send_to_email">Отправить копию листа бронирования на e-mail</div>
    <div class="help">Нужна помощь?</div>
</div>