<div class="title">
  Регистрация провайдера: <span>Название и расположение</span>
</div>
<div class="progress_bar"></div>

<div class="base_wrap">
  <div class="base_left">
    <div class="left_title"></div>
    <div class="left_input">
      <label for="">Описание провайдера</label>
      <input type="text" placeholder="Описание">
    </div>
    <div class="left_input">
      <div class="checkbox_input"><input type="checkbox" name="" id="" checked><label for="">Описание местности</label></div>
      <input type="text" placeholder="Описание">
    </div>
  </div>
  <div class="base_right">
    <div class="card">
      <div class="card_icon"><img src="assets/images/icons/bulb.svg" alt=""></div>
      <div class="card_text">
        Вы можете добавить информацию прямо сейчас или после завершения регистрации.
      </div>
    </div>
  </div>
</div>
