<div class="title">Создайте новый пароль</div>
<div class="description">Пароль должен состоять из заглавных и строчных букв и цифр. Длина - не менее 10 символов.</div>
<div class="main">
    <form class="form">
        <div class="item">
            <label for="">Пароль</label>
            <input type="password">
            <img src="assets/images/icons/close-pass.svg" alt="">
        </div>
        <div class="item">
            <label for="">Повторите пароль</label>
            <input type="password">
            <img src="assets/images/icons/close-pass.svg" alt="">
        </div>
        <button class="btn btn-default save_butt"><span>Сохранить</span></button>
    </form>
</div>
<div class="agreement">Входя в аккаунт или создавая новый, Вы соглашаетесь с нашими <span>Правилами и условиями</span> и <span>Положением о конфиденциальности</span></div>
