@import "../../../../../../../styles/grid.scss";
@import "../../../../../../../variables.scss";
.title {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: $heading-color;
    margin: 0 0 16px 0;
}
.description {
    line-height: 26px;
    letter-spacing: 0.01em;
    margin: 0 0 30px 0;
}
.main {
    margin: 0 0 50px 0;
    border-top: 1px solid $border-color-1;
    border-bottom: 1px solid $border-color-1;
    padding: 30px 0;
}
.form {
    @media(max-width: $xs-max) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.item {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    width: 100%;
    margin: 0 0 30px 0;
    position: relative;
    label {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.01em;
    }
    input {
        outline: none;
        border: none;
        border-bottom: 0.5px solid $border-color-1;
        color: $theme-color-1;
        letter-spacing: 8px;
        font-weight: 700;
        font-size: 28px;
        padding: 0 30px 0 0;
    }
    img {
        position: absolute;
        right: 0;
        bottom: 5px;
        cursor: pointer;
    }
}
.save_butt {
    margin: 40px 0 0 0;
    max-width: 130px;
}

.agreement {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.01em;
    span {
        color: $theme-color-1;
        cursor: pointer;
        text-decoration: underline;
    }
}