<div class="title" *ngIf="isMain">Безопасность</div>
<div class="description" *ngIf="isMain">Настройте параметры безопасности и двухфакторную аутентификацию.</div>
<div class="main" *ngIf="isMain">
    <div class="item_row">
        <div class="name">Пароль</div>
        <div class="item_description">Меняйте пароль регулярно, чтобы обеспечить безопасность своего аккаунта.</div>
        <div class="buttons">
            <div class="edit" (click)="changePassoword()"><img src="../../../../../assets/images/icons/edit.svg" alt="">Изменить</div>
        </div>
    </div>
    <div class="item_row">
        <div class="name">Двухфакторная аутентификация</div>
        <div class="item_description">Добавьте номер телефона, чтобы настроить двухфакторную аутентификацию.</div>
        <div class="buttons">
            <div class="edit"><img src="../../../../../assets/images/icons/edit.svg" alt="">Изменить</div>
        </div>
    </div>
    <div class="item_row">
        <div class="name">Активные сессии</div>
        <div class="item_description">Нажав “Выйти”, Вы в течение 10 мин. выйдете из аккаунта на всех устройствах, кроме этого.</div>
        <div class="buttons">
            <div class="show" (click)="activeSessions()">Показать</div>
        </div>
    </div>
    <div class="item_row">
        <div class="name">Удаление аккаунта</div>
        <div class="item_description">Удаление аккаунта Wave навсегда.</div>
        <div class="buttons">
            <div class="remove"><img src="../../../../../assets/images/icons/cross.svg" alt="">Удалить</div>
        </div>
    </div>
</div>
<app-change-password *ngIf="isChangePassword"></app-change-password>
<app-active-sessions *ngIf="isActiveSessions"></app-active-sessions>