<form class="main">
    <div class="left_block">
        <div class="item">
            <div class="item_title">Имя</div>
            <input class="item_main" type="text" value="Кирилл">
        </div>
        <div class="item">
            <div class="item_title">Фамилия</div>
            <input class="item_main" type="text" value="Сурело">
        </div>
        <div class="item">
            <div class="item_title">Email</div>
            <input class="item_main" type="email" value="yan.lobezki@hotmail.com">
        </div>
        <div class="item">
            <div class="item_title">Номер телефона</div>
            <input class="item_main" type="text" value="+380 67 66 88 99">
        </div>
    </div>
    <div class="right_block">
        <div class="item">
            <div class="item_title">Дата рождения</div>
            <input class="item_main" type="date" value="01-01-1991">
        </div>
        <div class="item">
            <div class="item_title">Пол</div>
                <div class="dropdown_gender item_main">
                    Мужской
                    <img class="dropdown-arrow" src="assets/images/icons/Arrow.svg" alt="">
                </div>
                <ul class="dropdown_gender_list">
                  <li>Мужской</li>
                  <li>Женский</li>
                </ul>
        </div>
        <div class="item">
            <div class="item_title">Город</div>
            <div class="dropdown_gender item_main">
                Запорожье
                <img class="dropdown-arrow" src="assets/images/icons/Arrow.svg" alt="">
            </div>
            <ul class="dropdown_gender_list">
              <li>Порожье</li>
              <li>Жье</li>
              <li>За</li>
            </ul>
        </div>
    </div>
</form>
