@import "../../../../variables";

.search-filter_list {
  position: relative;
  &_current {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.01em;
    text-align: left;
    color: $heading-color;
    padding: 10px 10px 10px 0;
  }
  &_dropdown {
    box-shadow: 0 0 18px rgba(78, 90, 254, 0.16);
    border-radius: 6px;
    padding-bottom: 32px;
    background-color: $background-color-1;
    overflow: hidden;
    position: absolute;
    z-index: 55;
    visibility: hidden;
    opacity: 0;
    top: 60px;
    transition: 0.3s;
  }
  &.active {
    .search-filter_list_dropdown {
      visibility: visible;
      opacity: 1;
      //top: 25px;
      top: 60px;
    }
  }
  li {
    width: 120px;
    display: block;
    list-style-type: none;
    padding: 8px 16px;
    background-color: $background-color-1;
    cursor: pointer;
    a {
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.03em;
      color: $text-color-2;
    }
    &:hover {
      background-color: rgb(236,239,244);
      a {
        color: $heading-color;
      }
    }
    &:hover a {
      text-decoration: none;
      background: linear-gradient(#4E5AFE, #00F2FF
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    &:active {
      background-color: rgb(237,239,255);
    }
  }
  img {
    transform: rotate(0deg);
    transition: 0.5s;
  }
  .search-filter_list_dropdown {
    position: absolute;
    top: 60px;
    right: 0;
  }
  .list_current-header > img {
    transform: rotate(0deg);
    transition: 0.5s;
  }
  &.active {
    cursor: pointer;
    .search-filter_list_dropdown {
      top: 37px;
    }
    .list_current-header > img {
      transform: rotate(180deg);
      transition: 0.5s;
    }
  }
  li {
    width: 70px;
  }
  .list_current-header {
    @include font-bold;
    img {
      @include arrow-down;
    }
  }
}
