<!--<div class="header-lang-list">-->
<!--<div class="header-lang-list search-filter_list">-->
<div class="search-filter_list" (click)="toggleLangList(step)" [ngClass]="step ? 'active' : ''">
  <!--  <div class="header-lang-list_current">-->
  <!--  <div class="header-lang-list_current search-filter_list_current">-->
  <div class="search-filter_list_current list_current-header">
    <!--    Ru <img class="dropdown-arrow" src="../../../../assets/images/icons/Arrow.svg" alt="">-->
    Ru <img src="../../../../assets/images/icons/Arrow.svg" alt="">
  </div>
  <!--  <ul class="header-lang-list_dropdown">-->
  <!--  <ul class="header-lang-list_dropdown search-filter_list_dropdown">-->
  <div class="search-filter_list_dropdown">
    <!--    <ul class="search-filter_list_dropdown">-->
    <ul>
      <li class="active">
        <a href="#">Ru</a>
      </li>
      <li>
        <a href="#">Ukr</a>
      </li>
      <li>
        <a href="#">Eng</a>
      </li>
    </ul>
  </div>

</div>

