<div class="title">Предпочтения</div>
<div class="description">Измените язык, валюту и требования к доступной среде.</div>
<div class="main">
    <div class="item_row">
        <div class="name">Валюта</div>
        <div class="item_description" *ngIf="!isCurrencyEdit">UAH Украинская гривна</div>
        <div class="buttons" *ngIf="!isCurrencyEdit">
            <div class="edit" (click)="CurrencyEdit()"><img src="../../../../../assets/images/icons/edit.svg" alt="">Изменить</div>
        </div>
        <div class="item_edit" *ngIf="isCurrencyEdit">
            <div class="current">UAH Украинская гривна <img src="../../../../../assets/images/icons/Arrow.svg" alt=""></div>
            <ul class="edit_list">
                <li>UAH Украинская гривна</li>
                <li>USD Доллар</li>
                <li>EUR Евро</li>
            </ul>
        </div>
        <div class="buttons_edit" *ngIf="isCurrencyEdit">
            <div class="edit_cancel" (click)="CurrencyEdit()">Отмена</div>
            <div class="edit_save" (click)="CurrencyEdit()">Сохранить</div>
        </div>
    </div>
    <div class="item_row">
        <div class="name">Язык</div>
        <div class="item_description" *ngIf="!isLanguageEdit"><img src="../../../../../assets/images/icons/language/russian.svg" alt="">Русский</div>
        <div class="buttons" *ngIf="!isLanguageEdit">
            <div class="edit" (click)="LanguageEdit()"><img src="../../../../../assets/images/icons/edit.svg" alt="">Изменить</div>
        </div>
        <div class="item_edit" *ngIf="isLanguageEdit">
            <div class="current"><img src="../../../../../assets/images/icons/language/russian.svg" alt=""> Русский <img src="../../../../../assets/images/icons/Arrow.svg" alt=""></div>
            <ul class="edit_list">
                <li><img src="../../../../../assets/images/icons/language/russian.svg" alt=""> Русский</li>
                <li><img src="../../../../../assets/images/icons/language/ukrain.svg" alt=""> Украинский</li>
                <li><img src="../../../../../assets/images/icons/language/english.svg" alt=""> Английский</li>
            </ul>
        </div>
        <div class="buttons_edit" *ngIf="isLanguageEdit">
            <div class="edit_cancel" (click)="LanguageEdit()">Отмена</div>
            <div class="edit_save" (click)="LanguageEdit()">Сохранить</div>
        </div>
    </div>
    <div class="item_row">
        <div class="name">Доступная среда</div>
        <div class="item_description">Отфильтруйте варианты, которые Вам не подходят</div>
        <div class="buttons">
            <div class="edit"><img src="../../../../../assets/images/icons/edit.svg" alt="">Изменить</div>
        </div>
    </div>
</div>