<div class="title">
    Регистрация провайдера: <span>Название и расположение</span>
  </div>
  <div class="progress_bar"></div>
  
  <div class="base_wrap">
    <div class="base_left">
      <div class="left_head">
          <div class="left_head_title">
            Где находится Ваш объект отдыха?
          </div>
          <div class="left_head_text">
            Мы можем отправить на этот адрес бумажное письмо, 
            чтобы подтвердить расположение Вашего объекта отдыха. 
            По этой причине адрес должен быть указан правильно - 
            его сложно будет изменить позднее. 
          </div>
      </div>
      <div class="left_input">
        <label for="">Найдите свой адрес</label>
        <input type="text" (click)="change()">
      </div>
      <div class="left_input">
        <label for="">Почтовый индекс</label>
        <input type="text">
      </div>
      <div class="left_input">
        <label for="">Город</label>
        <input type="text">
      </div>
    </div>
    <div class="base_right">
      <div class="card" *ngIf="!disable">
        <div class="card_icon"><img src="../../../../../assets/images/icons/bulb.svg" alt=""></div>
        <div class="card_text">
            - Укажите улицу и номер дома без ошибок<br>
            - Укажите фактический адрес объекта, а не ваш рабочий или домашний
        </div>
      </div>
      <div class="card" *ngIf="!disable">
        <div class="card_icon"><img src="../../../../../assets/images/icons/bulb.svg" alt=""></div>
        <div class="card_text">
            После того как человек сделает бронирование, 
            мы сообщим ему этот адрес. Он нужен для того, 
            чтобы человек смог найти ваш объект, 
            так что убедитесь в том, что адрес указан без ошибок.
        </div>
      </div>

      <div class="map_wrap" *ngIf="disable">
        <div class="map_title">Отметьте расположение своего объекта отдыха на карте</div>
        <div class="map_text">Это расположение увидят на нашем сайте. Передвиньте карту, чтобы указать точный адрес.</div>
        <div class="map"><img src="../../../../../assets/images/prototype/map.png" alt=""></div>
      </div>


    </div>
  </div>