<div class="title">
  Регистрация провайдера: <span>Название и расположение</span>
</div>
<div class="progress_bar"></div>

<div class="head">График работы</div>

<div class="base_wrap">
  <div class="base_left">
    <div class="bl_item_left">
      <div class="bl_il_input"><input type="checkbox" name="" id=""><label for="">понедельник</label></div>
      <div class="bl_il_input"><input type="checkbox" name="" id=""><label for="">вторник</label></div>
      <div class="bl_il_input"><input type="checkbox" name="" id="" checked><label for="">среда</label></div>
      <div class="bl_il_input"><input type="checkbox" name="" id="" checked><label for="">четверг</label></div>
      <div class="bl_il_input"><input type="checkbox" name="" id="" checked><label for="">пятница</label></div>
      <div class="bl_il_input"><input type="checkbox" name="" id="" checked><label for="">суббота</label></div>
      <div class="bl_il_input"><input type="checkbox" name="" id="" checked><label for="">воскресенье</label></div>
    </div>
    <div class="bl_item_right">
      <div class="bl_ir_row">
        <div class="dayoff">Выходной</div>
      </div>
      <div class="bl_ir_row">
        <div class="dayoff">Выходной</div>
      </div>
      <div class="bl_ir_row">
        <div class="bl_ir_row_item">
          <div class="bl_ir_row_item_current">с 08:00 </div>
          <ul class="bl_ir_row_item_list">
            <li>c 08:00</li>
            <li>c 09:00</li>
            <li>c 10:00</li>
            <li>c 11:00</li>
            <li>c 12:00</li>
            <li>c 13:00</li>
            <li>c 14:00</li>
            <li>c 15:00</li>
            <li>c 16:00</li>
            <li>c 17:00</li>
            <li>c 18:00</li>
            <li>c 19:00</li>
            <li>c 20:00</li>
            <li>c 21:00</li>
            <li>c 22:00</li>
            <li>c 22:00</li>
            <li>c 23:00</li>
          </ul>
        </div>
        <div class="bl_ir_row_item">
          <div class="bl_ir_row_item_current">до 08:00 </div>
          <ul class="bl_ir_row_item_list">
            <li>до 08:00</li>
            <li>до 09:00</li>
            <li>до 10:00</li>
            <li>до 11:00</li>
            <li>до 12:00</li>
            <li>до 13:00</li>
            <li>до 14:00</li>
            <li>до 15:00</li>
            <li>до 16:00</li>
            <li>до 17:00</li>
            <li>до 18:00</li>
            <li>до 19:00</li>
            <li>до 20:00</li>
            <li>до 21:00</li>
            <li>до 22:00</li>
            <li>до 22:00</li>
            <li>до 23:00</li>
          </ul>
        </div>
      </div>
      <div class="bl_ir_row">
        <div class="bl_ir_row_item">
          <div class="bl_ir_row_item_current">с 08:00 </div>
          <ul class="bl_ir_row_item_list">
            <li>c 08:00</li>
            <li>c 09:00</li>
            <li>c 10:00</li>
            <li>c 11:00</li>
            <li>c 12:00</li>
            <li>c 13:00</li>
            <li>c 14:00</li>
            <li>c 15:00</li>
            <li>c 16:00</li>
            <li>c 17:00</li>
            <li>c 18:00</li>
            <li>c 19:00</li>
            <li>c 20:00</li>
            <li>c 21:00</li>
            <li>c 22:00</li>
            <li>c 22:00</li>
            <li>c 23:00</li>
          </ul>
        </div>
        <div class="bl_ir_row_item">
          <div class="bl_ir_row_item_current">до 08:00 </div>
          <ul class="bl_ir_row_item_list">
            <li>до 08:00</li>
            <li>до 09:00</li>
            <li>до 10:00</li>
            <li>до 11:00</li>
            <li>до 12:00</li>
            <li>до 13:00</li>
            <li>до 14:00</li>
            <li>до 15:00</li>
            <li>до 16:00</li>
            <li>до 17:00</li>
            <li>до 18:00</li>
            <li>до 19:00</li>
            <li>до 20:00</li>
            <li>до 21:00</li>
            <li>до 22:00</li>
            <li>до 22:00</li>
            <li>до 23:00</li>
          </ul>
        </div>
      </div>
      <div class="bl_ir_row">
        <div class="bl_ir_row_item">
          <div class="bl_ir_row_item_current">с 08:00 </div>
          <ul class="bl_ir_row_item_list">
            <li>c 08:00</li>
            <li>c 09:00</li>
            <li>c 10:00</li>
            <li>c 11:00</li>
            <li>c 12:00</li>
            <li>c 13:00</li>
            <li>c 14:00</li>
            <li>c 15:00</li>
            <li>c 16:00</li>
            <li>c 17:00</li>
            <li>c 18:00</li>
            <li>c 19:00</li>
            <li>c 20:00</li>
            <li>c 21:00</li>
            <li>c 22:00</li>
            <li>c 22:00</li>
            <li>c 23:00</li>
          </ul>
        </div>
        <div class="bl_ir_row_item">
          <div class="bl_ir_row_item_current">до 08:00 </div>
          <ul class="bl_ir_row_item_list">
            <li>до 08:00</li>
            <li>до 09:00</li>
            <li>до 10:00</li>
            <li>до 11:00</li>
            <li>до 12:00</li>
            <li>до 13:00</li>
            <li>до 14:00</li>
            <li>до 15:00</li>
            <li>до 16:00</li>
            <li>до 17:00</li>
            <li>до 18:00</li>
            <li>до 19:00</li>
            <li>до 20:00</li>
            <li>до 21:00</li>
            <li>до 22:00</li>
            <li>до 22:00</li>
            <li>до 23:00</li>
          </ul>
        </div>
      </div>
      <div class="bl_ir_row">
        <div class="bl_ir_row_item">
          <div class="bl_ir_row_item_current">с 08:00 </div>
          <ul class="bl_ir_row_item_list">
            <li>c 08:00</li>
            <li>c 09:00</li>
            <li>c 10:00</li>
            <li>c 11:00</li>
            <li>c 12:00</li>
            <li>c 13:00</li>
            <li>c 14:00</li>
            <li>c 15:00</li>
            <li>c 16:00</li>
            <li>c 17:00</li>
            <li>c 18:00</li>
            <li>c 19:00</li>
            <li>c 20:00</li>
            <li>c 21:00</li>
            <li>c 22:00</li>
            <li>c 22:00</li>
            <li>c 23:00</li>
          </ul>
        </div>
        <div class="bl_ir_row_item">
          <div class="bl_ir_row_item_current">до 08:00 </div>
          <ul class="bl_ir_row_item_list">
            <li>до 08:00</li>
            <li>до 09:00</li>
            <li>до 10:00</li>
            <li>до 11:00</li>
            <li>до 12:00</li>
            <li>до 13:00</li>
            <li>до 14:00</li>
            <li>до 15:00</li>
            <li>до 16:00</li>
            <li>до 17:00</li>
            <li>до 18:00</li>
            <li>до 19:00</li>
            <li>до 20:00</li>
            <li>до 21:00</li>
            <li>до 22:00</li>
            <li>до 22:00</li>
            <li>до 23:00</li>
          </ul>
        </div>
      </div>
      <div class="bl_ir_row">
        <div class="bl_ir_row_item">
          <div class="bl_ir_row_item_current">с 08:00 </div>
          <ul class="bl_ir_row_item_list">
            <li>c 08:00</li>
            <li>c 09:00</li>
            <li>c 10:00</li>
            <li>c 11:00</li>
            <li>c 12:00</li>
            <li>c 13:00</li>
            <li>c 14:00</li>
            <li>c 15:00</li>
            <li>c 16:00</li>
            <li>c 17:00</li>
            <li>c 18:00</li>
            <li>c 19:00</li>
            <li>c 20:00</li>
            <li>c 21:00</li>
            <li>c 22:00</li>
            <li>c 22:00</li>
            <li>c 23:00</li>
          </ul>
        </div>
        <div class="bl_ir_row_item">
          <div class="bl_ir_row_item_current">до 08:00 </div>
          <ul class="bl_ir_row_item_list">
            <li>до 08:00</li>
            <li>до 09:00</li>
            <li>до 10:00</li>
            <li>до 11:00</li>
            <li>до 12:00</li>
            <li>до 13:00</li>
            <li>до 14:00</li>
            <li>до 15:00</li>
            <li>до 16:00</li>
            <li>до 17:00</li>
            <li>до 18:00</li>
            <li>до 19:00</li>
            <li>до 20:00</li>
            <li>до 21:00</li>
            <li>до 22:00</li>
            <li>до 22:00</li>
            <li>до 23:00</li>
          </ul>
        </div>
      </div>
      <div class="item_head_title">
        Рабочее время
      </div>
    </div>
  </div>
  <div class="base_right">
    <div class="br_left_item">
      <div class="br_li_input"></div>
      <div class="br_li_input"></div>
      <div class="br_li_input"><label><input type="checkbox" checked><i></i></label></div>
      <div class="br_li_input"><label><input type="checkbox" checked><i></i></label></div>
      <div class="br_li_input"><label><input type="checkbox"><i></i></label></div>
      <div class="br_li_input"><label><input type="checkbox"><i></i></label></div>
      <div class="br_li_input"><label><input type="checkbox"><i></i></label></div>
      <div class="item_head_title">
        Перерыв
      </div>
    </div>
    <div class="br_right_item">
      <div class="br_ri_row">
      </div>
      <div class="br_ri_row">
      </div>
      <div class="br_ri_row">
        <div class="br_ir_row_item">
          <div class="br_ir_row_item_current">c 13:00 </div>
          <ul class="br_ir_row_item_list">
            <li>c 08:00</li>
            <li>c 09:00</li>
            <li>c 10:00</li>
            <li>c 11:00</li>
            <li>c 12:00</li>
            <li>c 13:00</li>
            <li>c 14:00</li>
            <li>c 15:00</li>
            <li>c 16:00</li>
            <li>c 17:00</li>
            <li>c 18:00</li>
            <li>c 19:00</li>
            <li>c 20:00</li>
            <li>c 21:00</li>
            <li>c 22:00</li>
            <li>c 22:00</li>
            <li>c 23:00</li>
          </ul>
        </div>
        <div class="br_ir_row_item">
          <div class="br_ir_row_item_current">до 14:00 </div>
          <ul class="br_ir_row_item_list">
            <li>до 08:00</li>
            <li>до 09:00</li>
            <li>до 10:00</li>
            <li>до 11:00</li>
            <li>до 12:00</li>
            <li>до 13:00</li>
            <li>до 14:00</li>
            <li>до 15:00</li>
            <li>до 16:00</li>
            <li>до 17:00</li>
            <li>до 18:00</li>
            <li>до 19:00</li>
            <li>до 20:00</li>
            <li>до 21:00</li>
            <li>до 22:00</li>
            <li>до 22:00</li>
            <li>до 23:00</li>
          </ul>
        </div>
      </div>
      <div class="br_ri_row">
        <div class="br_ir_row_item">
          <div class="br_ir_row_item_current">c 13:00 </div>
          <ul class="br_ir_row_item_list">
            <li>c 08:00</li>
            <li>c 09:00</li>
            <li>c 10:00</li>
            <li>c 11:00</li>
            <li>c 12:00</li>
            <li>c 13:00</li>
            <li>c 14:00</li>
            <li>c 15:00</li>
            <li>c 16:00</li>
            <li>c 17:00</li>
            <li>c 18:00</li>
            <li>c 19:00</li>
            <li>c 20:00</li>
            <li>c 21:00</li>
            <li>c 22:00</li>
            <li>c 22:00</li>
            <li>c 23:00</li>
          </ul>
        </div>
        <div class="br_ir_row_item">
          <div class="br_ir_row_item_current">до 14:00 </div>
          <ul class="br_ir_row_item_list">
            <li>до 08:00</li>
            <li>до 09:00</li>
            <li>до 10:00</li>
            <li>до 11:00</li>
            <li>до 12:00</li>
            <li>до 13:00</li>
            <li>до 14:00</li>
            <li>до 15:00</li>
            <li>до 16:00</li>
            <li>до 17:00</li>
            <li>до 18:00</li>
            <li>до 19:00</li>
            <li>до 20:00</li>
            <li>до 21:00</li>
            <li>до 22:00</li>
            <li>до 22:00</li>
            <li>до 23:00</li>
          </ul>
        </div>
      </div>
      <div class="br_ri_row">
        <div class="nonstop">Без перерыва</div>
      </div>
      <div class="br_ri_row">
        <div class="nonstop">Без перерыва</div>
      </div>
      <div class="br_ri_row">
        <div class="nonstop">Без перерыва</div>
      </div>
    </div>
  </div>
</div>