<div class="page-container">
    <div class="container">
        <div class="container_wrap">
            <div class="top_wrap">
                <div class="title">Избранные провайдеры</div>
            </div>

            <div class="main_wrap">
                <div class="item" *ngFor="let item of this.providers.providers">
                    <div class="img">
                        <img src="{{ item.image }}" alt="">
                        <img src="../../../assets/images/icons/remove.svg" alt="">
                    </div>
                    <div class="main">
                        <div class="main_title" [routerLink]="item.link">{{ item.name }}</div>
                        <div class="main_address" [routerLink]="item.link">{{ item.address }}</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>