<div class="title">
    Регистрация провайдера: <span>Название и расположение</span>
  </div>
  <div class="progress_bar"></div>
  <div class="base_wrap">
    <div class="base_left">
        <div class="page_head">Невозвратный тарифный план</div>
        <div class="title">Цена и правила отмены</div>
        <div class="description">В дополнение к стандартному тарифу, 
            который Вы создали, можно добавить невозвратный тарифный план. 
            Этот тарифный план предполагает цену со скидкой. При этому у Вас 
            будет гарантированная прибыль, потому что турист не получит возврат, 
            если отменит бронирование или не приедет
        </div>
        <div class="checkbox"><input type="checkbox" name="" id="" checked><label for="">Невозвратный тарифный план</label></div>
        <div class="input">
            <label for="">Скидка по этому тарифному плану</label>
            <input type="text" name="" id="">
        </div>
    </div>
    <div class="base_right">
      <div class="card">
        <div class="card_icon"><img src="../../../../../assets/images/icons/bulb.svg" alt=""></div>
        <div class="card_text">
          <span>Почему стоит добавить невозвратный тарифный план?</span><br>
            Невозвратный тарифный план поможет привлечь людей, 
            которые уверенны во времени использования вашего инвентаря 
            и не хотят переплачивать за возможность изменить бронирование.
        </div>
      </div>
    </div>
  </div>