<footer class="footer">
  <div class="container">
    <div class="footer_inner">
      <div class="footer_logo">
        <a class="logo"  [routerLink]="['/']" style="display: inline-block;">
          <img src="../../../../assets/images/icons/wave-logo.png" alt="logo">
        </a>
      </div>
      <div class="footer_links">
        <a [routerLink]="['/about']">О сайте</a>
      </div>
      <div class="footer_apps">
        <a href="#">
          <img src="../../../../assets/images/icons/footer-icon-google-play.png" alt="google play">
        </a>
        <a href="#">
          <img src="../../../../assets/images/icons/footer-icon-apple-store.png" alt="apple-store">
        </a>
      </div>
      <div class="footer_social">
        <a href="#">
          <img src="../../../../assets/images/icons/footer-icon-facebook.svg" alt="facebook">
        </a>
        <a href="#">
          <img src="../../../../assets/images/icons/footer-icon-instagram.svg" alt="instagram">
        </a>
      </div>
    </div>
  </div>
</footer>
