<div class="reg-type" style="margin-top: 125px">
  <div class="container">
    <div class="reg-type_heading">
      <p>Выберите тип аккаунта, который хотите зарегистрировать.<br>
        В зависимости от выбранного типа аккаунта меняются возможности пользователя.</p>
    </div>
    <div class="reg-type_columns">

      <div class="reg-type_column">
        <h3>
          Турист
        </h3>
        <div class="reg-type_content">
          <ul class="styled-list">
            <div class="reg-type_list-heading">Сохраняйте:</div>
            <li>
              Избранный список активностей
            </li>
            <li>
              Избранный список маршрутов
            </li>
            <li>
              Список забронированных туров
            </li>
            <li>
              Список забронированного инвентаря
            </li>
          </ul>
        </div>
        <a href="../reg" class="btn btn-default">
          <span>Продолжить</span>
        </a>
        <div class="reg-type_footnote">

        </div>
      </div>

      <div class="reg-type_column">
        <h3>
          Гид
        </h3>
        <div class="reg-type_content">
          <ul class="styled-list">
            <div class="reg-type_list-heading">Сохраняйте:</div>
            <li>
              Избранный список активностей
            </li>
            <li>
              Избранный список маршрутов
            </li>
            <li>
              Список забронированных туров
            </li>
            <li>
              Список забронированного инвентаря
            </li>
          </ul>
          <ul class="styled-list">
            <div class="reg-type_list-heading">Создавайте::</div>
            <li>
              Маршруты
            </li>
            <li>
              Туры
            </li>
          </ul>
        </div>
        <a href="../reg" class="btn btn-default">
          <span>Продолжить</span>
        </a>
        <div class="reg-type_footnote">
          После регистрации с Вами свяжутся для подтверждения личности.
        </div>
      </div>

      <div class="reg-type_column">
        <h3>
          Владелец клуба
        </h3>
        <div class="reg-type_content">
          <ul class="styled-list">
            <div class="reg-type_list-heading">Сохраняйте:</div>
            <li>
              Избранный список активностей
            </li>
            <li>
              Избранный список маршрутов
            </li>
            <li>
              Список забронированных туров
            </li>
            <li>
              Список забронированного инвентаря
            </li>
          </ul>
          <ul class="styled-list">
            <div class="reg-type_list-heading">Создавайте:</div>
            <li>
              Маршруты
            </li>
            <li>
              Туры
            </li>
            <li>
              Список предоставляемого инвентаря
            </li>
          </ul>
        </div>
        <a href="../reg" class="btn btn-default">
          <span>Продолжить</span>
        </a>
        <div class="reg-type_footnote">
          После регистрации с Вами свяжутся для подтверждения личности.
        </div>
      </div>
    </div>
  </div>
</div>
