<div class="title">
  Регистрация провайдера: <span>Основная информация</span>
</div>
<div class="progress_bar"></div>

<div class="head">
  Чем гости могут пользоваться в Вашем объекте отдыха?
</div>

<div class="base_wrap">
  <div class="base_left">
    <div class="item_left">
      <div class="item">
        <div class="item_head">Удобства</div>
        <div class="item_input"><input type="checkbox" name="" id=""><label for="">бесплатный wi-fi</label></div>
        <div class="item_input"><input type="checkbox" name="" id=""><label for="">камера хранения</label></div>
        <div class="item_input"><input type="checkbox" name="" id="" checked><label for="">кафе</label></div>
        <div class="item_input"><input type="checkbox" name="" id=""><label for="">туалет</label></div>
        <div class="item_input"><input type="checkbox" name="" id=""><label for="">душ</label></div>
        <div class="item_input"><input type="checkbox" name="" id=""><label for="">раздевалка</label></div>
        <div class="item_input"><input type="checkbox" name="" id=""><label for="">велопарковка</label></div>
        <div class="item_input"><input type="checkbox" name="" id="" checked><label for="">парковка</label></div>
      </div>
    </div>
    <div class="item_right">
      <div class="item">
        <div class="item_head">Парковка для автомобилей</div>
        <div class="item_input"><input type="radio" name="a" id=""><label for="">Да, бесплатно</label></div>
        <div class="item_input"><input type="radio" name="a" id=""><label for="">Да, платно</label></div>
        <div class="item_input"><input type="radio" name="a" id="" checked><label for="">Нет</label></div>
      </div>
      <div class="item">
        <div class="item_head">Языки, на которых говорит персонал</div>
        <div class="item_input"><input type="checkbox" name="" id="" checked><label for="">Украинский</label></div>
        <div class="item_input"><input type="checkbox" name="" id="" checked><label for="">Русский</label></div>
        <div class="item_input"><input type="checkbox" name="" id=""><label for="">Английский</label></div>
      </div>
    </div>
  </div>



  <div class="base_right">
    <div class="card">
      <div class="card_icon"><img src="../../../../../assets/images/icons/bulb.svg" alt=""></div>
      <div class="card_text">
          - Укажите улицу и номер дома без ошибок<br>
          - Укажите фактический адрес объекта, а не ваш рабочий или домашний
      </div>
    </div>

  </div>
</div>