<div class="main">
    <div class="left_block">
        <div class="item">
            <div class="item_title">Имя</div>
            <div class="item_main">Кирилл</div>
        </div>
        <div class="item">
            <div class="item_title">Фамилия</div>
            <div class="item_main">Сурело</div>
        </div>
        <div class="item">
            <div class="item_title">Email</div>
            <div class="item_main">yan.lobezki@hotmail.com</div>
        </div>
        <div class="item">
            <div class="item_title">Номер телефона</div>
            <div class="item_main">+380 67 666 88 99</div>
        </div>
    </div>
    <div class="right_block">
        <div class="item">
            <div class="item_title">Дата рождения</div>
            <div class="item_main">01.01.1991</div>
        </div>
        <div class="item">
            <div class="item_title">Пол</div>
            <div class="item_main">Мужской</div>
        </div>
        <div class="item">
            <div class="item_title">Город</div>
            <div class="item_main">Запорожье</div>
        </div>
    </div>
</div>