@import "../../../../../../styles/grid.scss";
@import "../../../../../../variables.scss";
.main {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}
.left_block {
    flex-basis: 50%;
    padding: 0 20px 0 0;
}
.right_block {
    flex-basis: 50%;
}
.item {
    margin: 0 0 42px 0;
}
.item_title {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.01em;
    margin: 0 0 4px 0;
}
.item_main {
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.01em;
    color: $heading-color;
}